
practical07/.vscode/tasks.json
*.json
practical01/.Rhistory
practical06/Step6/.DS_Store
practical07/.DS_Store
practical09/.DS_Store
practical06/.DS_Store
.DS_Store
practical02/.Rhistory
practical03/.Rhistory
.vscode